<div class="container">
  <div class="row">
  <hr>
    <div class="col-lg-12">
      <div class="col-md-8">
        <%= link_to t(:aboutus), '/info/aboutus' %>| <%= link_to t(:privacy_policy), '/info/privacy_policy' %>   
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2016 Company Name. All rights reserved</p>
      </div>
    </div>
  </div>
</div>